#my_full_page .table>tbody>tr>td {
				vertical-align: middle;
}

.userarea_body .btn-default {
				padding: 6px !important;
				margin: 0;
}

#main_menu_nav>li.current>a {
				color: #fb6b26;
}

#tab_product_index a.text_content {
				color: darkgrey;
				text-decoration: none;
				font-size: 15px;
}

#tab_product_index .active a.text_content, #tab_product_index a.text_content:hover {
				color: #fb6b26;
				border-bottom: 2px solid #ffcc66;
}

#tab_product_index {
				margin: 10px 0;
				background-color: white;
}

.iconLayout-list {
				background-image: url(../images/salemaket_4.png);
				background-repeat: no-repeat;
				background-size: 20px;
				font-size: 0;
				width: 33px;
				height: 31px;
				background-position: center;
}

.iconLayout-grid {
				background-image: url(../images/salemaket_5.png);
				background-repeat: no-repeat;
				background-size: 20px;
				font-size: 0;
				width: 32px;
				height: 31px;
				background-position: center;
}

.iconLayout-grid.selected, .iconLayout-list.selected {
				border: 3px solid #4caf50;
}

.sale_type_1>div.owl-stage-outer.owl-height {
				height: 150px !important;
}

.news_column h2 {
				font-weight: 600;
}

#boxLocations ul img {
				margin-right: 10px;
}

#my_action_content .panel-primary>.panel-heading {
				background-color: #d3a02a;
				border-color: #d3a02a;
}

#my_action_content .panel-primary {
				border-color: #d3a02a;
}

#content>ul>li>a {
				font-size: 13pt;
				text-transform: uppercase;
				font-weight: 500;
				border-bottom: 0;
}

#content>ul>li:hover>a {
				
}

#imageGallery {
				height: auto !important;
				background: #030833;
}

p.login-more a {
				text-decoration: underline;
				color: #333;
				margin: 5px 10px;
}

.modal-dialog .nv-info, .login-box .nv-info {
				border: 0;
				background: 0;
}

#sitemodal .modal-body {
				padding: 15px 25px;
}

.modal-open .modal {
				margin-top: 30px;
}
/* Quản lý tin */
#my_action_content label {
				padding-left: 0;
				font-size: 13px;
}

#my_action_content #custom_form 
.col-md-20 label {
				width: 25%;
}

#my_action_content label input {
				margin: 0 7px 0 0;
				background: #cfd1cf;
				width: 13px;
				min-width: 10px;
				height: 13px;
}

#my_action_content label input[type=checkbox]:checked:before {
				font-size: 10px;
				width: 6px
}

#my_action_content label input[type=radio]:checked:before {
				margin: 3px 2px;
}

#my_action_content #custom_form .panel-heading {
				display: none;
}

#my_action_content #custom_form .panel {
				margin-bottom: unset;
				border: unset;
				-webkit-box-shadow: unset !important;
				box-shadow: unset !important;
}

#my_action_content #custom_form .panel-body, #boxLocations ul {
				padding: 0;
}

#my_action_content #custom_form>div>div.panel-body>div>div {
				text-align: left;
				padding: 5px 15px;
}
/* Quản lý tin */
.form-control {
				height: 34px;
}

label {
				min-height: 20px;
				padding-left: 20px;
				margin-bottom: 0;
				font-weight: 400;
				cursor: pointer;
}

.alert-info, .alert-info a, .well {
				color: #8a6d3b;
				background-color: #fcf8e3;
				border-color: #faebcc;
}

.search .alert-info, .search .alert-info a {
				background-color: #d3a02a;
				color: #ffffff;
				border-color: #d3a02a;
}

.socialicon div>a {
				margin-bottom: 10px;
}

#user_menu {
				right: 0px;
}

#box_product_search .province {
				padding-right: 0px;
				padding-left: 0;
}

.wallet-button {
				position: relative;
				bottom: 10px;
}

.img-users .span-camera {
				height: 30px;
				width: 30px;
				background: url(../images/propzy_1.svg) no-repeat -170px -617px transparent;
				position: absolute;
				right: -4px;
				top: 8px;
				border-radius: 50%;
}

.menu-header img {
				border-radius: 50%;
				border: 2px solid #efcf62;
}

.ul-market li {
				margin-right: 5px;
}

.ul-market li:last-child {
				margin-right: 0px;
}

.select2-container--bootstrap
.select2-container--focus
.select2-selection, .select2-container--bootstrap
.select2-container--open
.select2-selection {
				box-shadow: none;
}

#frmBoxSearch .select2-container--bootstrap .select2-selection {
				border: 0 !important;
				height: 40px !important;
				line-height: 26px !important;
				box-shadow: none !important;
}

@media only screen and (max-width:1199px) {
				.hidden-max {
								display: none !important;
				}
				.container {
								box-sizing: border-box;
								width: calc(100% - 2px);
								max-width: 100%;
				}
}

@media only screen and (max-width:991px) {
}

@media
only
screen
and
(max-width:767px)
{
#my_actions .menu-header {
				padding-top: 25px;
}

#user_menu .btn-primary, #user_menu {
				margin: 0;
}

#user_menu {
				display: flex;
				justify-content: center;
}

.p-xs-b5 {
				padding-bottom: 5px;
}

.p-xs-lr0 {
				padding-left: 0;
				padding-right: 0;
}

#user_menu .btn-primary {
				padding: 5px 4px !important;
				border-radius: 5px;
				margin-bottom: 4px;
}

#user_menu>li>a {
				font-size: 10px;
}

.search-light .district, .search-light .province {
				padding-bottom: 5px;
				width: 50%;
				padding-left: 0;
				padding-right: 0;
}

}
@media only screen and (max-width:639px) {
}

@media only screen and (max-width: 479px) {
				.hidden-min {
								display: none !important;
				}
				.col-min-16, .col-min-24, .col-min-12 {
								float: left;
				}
				.col-min-16 {
								width: 66.66666667%;
				}
				.col-min-24 {
								width: 100%;
				}
				.col-min-12 {
								width: 50%;
				}
				#box_product_search .input-keyword, .search-light .district, .search-light .province {
								width: 100%;
				}
}

@media only screen and (min-width:480px) {
}

@media only screen and (min-width:550px) {
				#user_menu {
								top: 0;
								position: absolute;
				}
}

@media only screen and (min-width:768px) {
				#user_menu>li {
								padding: 0 5px;
				}
				#user_menu {
								margin-top: 5px;
				}
}

@media only screen and (min-width:992px) {
}

@media only screen and (min-width:1200px) {
				#banner_home {
								height: 480px;
				}
}

@media ( min-width :0px) and (max-width:479px) {
}

@media ( max-width : 991px) and (min-width: 320px) {
				#user_menu {
								right: 43px;
								top: 5px;
				}
}

@media ( min-width :480px) and (max-width:991px) {
}

@media ( min-width :992px) and (max-width:1199px) {
}

@media ( min-width :1200px) and (max-width:1366px) {
}

.select2-container--bootstrap {
				max-width: 100%;
				min-width: 100%;
}

.p-lr {
				padding-right: 15px;
				padding-left: 15px;
}

.p-lr0 {
				padding-right: 0px !important;
				padding-left: 0px !important;
}

.p-0 {
				padding: 0;
}

.p-tb5 {
				padding-top: 5px;
				padding-bottom: 5px;
}

.p-l0 {
				padding-left: 0px;
}

.p-lr15 {
				padding-left: 15px;
				padding-right: 15px;
}

.p-b10 {
				padding-bottom: 10px;
}

.m-t10 {
				margin-top: 10px;
}

.m-t15 {
				margin-top: 15px;
}

.m-t20 {
				margin-top: 20px;
}

.m-b20 {
				margin-bottom: 20px;
}

.m-0 {
				margin: 0;
}

.m-tb15 {
				margin-top: 15px;
				margin-bottom: 15px;
}

.w-100 {
				width: 100% !important;
}

.d-flex {
				display: flex;
}

.justify-content>em {
				padding: 10px
}

.justify-content {
				justify-content: center;
}

.line-25 {
				line-height: 25px;
}

.one-line, .two-line, .three-line, .four-line, .five-line {
				width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box !important;
				-webkit-box-orient: vertical;
}

.one-line {
				-webkit-line-clamp: 1;
}

.two-line {
				-webkit-line-clamp: 2;
}

.three-line {
				-webkit-line-clamp: 3;
}

.four-line {
				-webkit-line-clamp: 4;
}

.five-line {
				-webkit-line-clamp: 5;
}

.h-10 {
				height: 10px;
}

.h-20 {
				height: 20px;
}

.h-30 {
				height: 30px;
}

.h-40 {
				height: 40px;
}

.h-50 {
				height: 50px;
}