<div id="body_content" class="custom_page_product_detail" role="main">
    <div class="container">
        <section id="product_detail" itemscope itemtype="https://schema.org/Product">
            <meta itemprop="mpn" content="107895" />
            <meta itemprop="sku" content="TD107895" />
            <div itemprop="brand" itemtype="http://schema.org/Thing" itemscope>
                <meta itemprop="name" content="Samhomes" />
            </div>
            <div itemprop="aggregateRating" itemtype="http://schema.org/AggregateRating" itemscope>
                <meta itemprop="reviewCount" content="75" />
                <meta itemprop="ratingValue" content="4.3" />
            </div>
            <div itemprop="review" itemtype="http://schema.org/Review" itemscope>
                <div itemprop="author" itemtype="http://schema.org/Person" itemscope>
                    <meta itemprop="name" content="CAO SƠN LÂM" />
                </div>
                <div itemprop="reviewRating" itemtype="http://schema.org/Rating" itemscope>
                    <meta itemprop="ratingValue" content="4" />
                    <meta itemprop="bestRating" content="5" />
                </div>
            </div>
            <div itemprop="offers" itemtype="http://schema.org/Offer" itemscope>
                <link itemprop="url" href="https://samhomes.vn/mua/nha-mat-tien/ban-nha-356m2-o-khu-big-c-di-an-binh-duong-gia-tot-so-dep-107895.html" />
                <meta itemprop="availability" content="https://schema.org/InStock" />
                <meta itemprop="priceCurrency" content="Tỷ" />
                <meta itemprop="itemCondition" content="https://schema.org/UsedCondition" />
                <meta itemprop="price" content="11" />
                <meta itemprop="priceValidUntil" content="2019-11-19" />
                <div itemprop="seller" itemtype="http://schema.org/Organization" itemscope>
                    <meta itemprop="name" content="CAO SƠN LÂM" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <img id="logo" src="https://cdn.samhomes.vn/htdocs/images/logo-2.png" alt="SamHomes" style="display: none;">
                    <h1 class="title" itemprop="name">Bán nhà 356m2 ở Khu Big C, Dĩ An, Bình Dương giá tốt, sổ đẹp</h1>
                    <div class="row hidden-xs">
                        <ul class="house_static">
                            <li><span class="price">11 <span class="unit">Tỷ</span></span></li>
                            <li><i class="fa fa-expand"></i> 352.0 m<sup>2</sup></li>
                            <li><i class="fa fa-tag"></i> Mã tin: TD107895</li>
                            <li><i class="fa fa-map-marker"></i> <a href="https://samhomes.vn/mua/nha-binh-duong-thi-xa-di-an-phuong-di-an">Phường Dĩ An</a>, <a href="https://samhomes.vn/mua/nha-binh-duong-thi-xa-di-an">Thị xã Dĩ An</a>, <a href="https://samhomes.vn/mua/nha-binh-duong">Bình Dương</a></li>
                        </ul>
                    </div>
                    <div class="row house_static visible-xs no-padding" style="margin: 0 0 15px 0; border: none">
                        <div class="col-xs-12 no-padding">
                            <span class="price">11 <span class="unit">Tỷ</span></span>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <i class="fa fa-expand"></i> 352.0 m<sup>2</sup>
                        </div>
                        <div class="col-xs-12 no-padding">
                            <i class="fa fa-tag"></i> Mã tin: TD107895
                        </div>
                        <div class="col-xs-12 no-padding">
                            <i class="fa fa-map-marker"></i> <a href="https://samhomes.vn/mua/nha-binh-duong-thi-xa-di-an-phuong-di-an">Phường Dĩ An</a>, <a href="https://samhomes.vn/mua/nha-binh-duong-thi-xa-di-an">Thị xã Dĩ An</a>, <a href="https://samhomes.vn/mua/nha-binh-duong">Bình Dương</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <div class="house_image">
                                <a href="https://cdn.samhomes.vn//htdocs/images/posting/201910/photo-2019-03-29-22-20-58-4.jpg" class="preview"> <img class='lazy' data-original="https://cdn.samhomes.vn/htdocs/thumbs/posting/201910/400x300x0-photo-2019-03-29-22-20-58-4.jpg" data-src="https://cdn.samhomes.vn/htdocs/thumbs/posting/201910/400x300x0-photo-2019-03-29-22-20-58-4.jpg" alt="Bán nhà 356m2 ở Khu Big C, Dĩ An, Bình Dương giá tốt, sổ đẹp" width='400' height='300' itemprop="image" />
                                </a>
                            </div>
                            <div class="owl-carousel owl-theme" id="gallery_02">
                                <div class="item">
                                    <a href="https://cdn.samhomes.vn//htdocs/images/posting/201910/photo-2019-03-29-22-20-58-4.jpg" class="preview"> <img src="https://cdn.samhomes.vn/htdocs/thumbs/posting/201910/90x90x1-photo-2019-03-29-22-20-58-4.jpg" alt="Bán nhà 356m2 ở Khu Big C, Dĩ An, Bình Dương giá tốt, sổ đẹp" width=90 height=90 itemprop="image" />
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://cdn.samhomes.vn//htdocs/images/posting/201910/photo-2019-03-24-17-15-14-5.jpg" class="preview"> <img src="https://cdn.samhomes.vn/htdocs/thumbs/posting/201910/90x90x1-photo-2019-03-24-17-15-14-5.jpg" alt="Bán nhà 356m2 ở Khu Big C, Dĩ An, Bình Dương giá tốt, sổ đẹp" width=90 height=90 itemprop="image" />
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="https://cdn.samhomes.vn//htdocs/images/posting/201910/cau-thang2.jpg" class="preview"> <img src="https://cdn.samhomes.vn/htdocs/thumbs/posting/201910/90x90x1-cau-thang2.jpg" alt="Bán nhà 356m2 ở Khu Big C, Dĩ An, Bình Dương giá tốt, sổ đẹp" width=90 height=90 itemprop="image" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="house_attrib">
                                <ul>
                                    <li><i class="fa fa-expand"></i> <b>Diện tích:</b> 352.0 m<sup>2</sup></li>
                                    <li><i class="fa fa-arrows-h"></i> <b>Chiều rộng:</b> 11.0 m</li>
                                    <li><i class="fa fa-arrows-v"></i> <b>Chiều dài:</b> 32.0 m</li>
                                    <li><i class="fa fa-bed"></i></i> <b>Phòng ngủ:</b> 18</li>
                                    <li><i class="fa fa-bath"></i></i> <b>Phòng tắm:</b> 18</li>
                                    <li><i class="fa fa-address-book"></i> <b>Pháp lý:</b> Sổ hồng</li>
                                    <li><i class="fa fa-calendar"></i> <b>Ngày đăng:</b> 20/10/2019</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="utility">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="title">Tiện ích</h3>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 box-utility">
                                <div class="thumbnail">
                                    <img src="https://cdn.samhomes.vn/htdocs/css/themes/fountain.png" alt="" />
                                </div>
                                <span>Gần công viên</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 box-utility">
                                <div class="thumbnail">
                                    <img src="https://cdn.samhomes.vn/htdocs/css/themes/university.png" alt="" />
                                </div>
                                <span>Gần trường học</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 box-utility">
                                <div class="thumbnail">
                                    <img src="https://cdn.samhomes.vn/htdocs/css/themes/shopping-cart.png" alt="" />
                                </div>
                                <span>Gần chợ</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 box-utility">
                                <div class="thumbnail">
                                    <img src="https://cdn.samhomes.vn/htdocs//css/themes/supermarket.png" alt="" />
                                </div>
                                <span>Gần siêu thị</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 box-utility">
                                <div class="thumbnail">
                                    <img src="https://cdn.samhomes.vn/htdocs//css/themes/mall.png" alt="" />
                                </div>
                                <span>Gần trung tâm mua sắm</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="title">Tiện nghi</h3>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 box-utility">
                                <div class="thumbnail">
                                    <img src="https://cdn.samhomes.vn/htdocs/css/themes/garage.png" alt="" />
                                </div>
                                <span>Nhà để xe hơi</span>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 box-utility">
                                <div class="thumbnail">
                                    <img src="https://cdn.samhomes.vn/htdocs/css/themes/terrace.png" alt="" />
                                </div>
                                <span>Sân thượng</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <h3 class="title">Mô tả chi tiết</h3>
                    <div class="house_desc" itemprop="description">
                        <p>Mô tả: - Diện tích 356m2 (ngang 10m). - Kết cấu: 1 lầu, DTSD lên đến 700m2. - Với mặt tiền hơn 10m, sâu thăm thẳm, tọa lạc gần TTTM, KV kinh doanh rất sầm uất nên rất thuận tiện Kd căn hộ dịch vụ hay nhà trọ. Hiện chủ nhà đang cho thuê 30 triệu/tháng (tăng giá thuê 10% mỗi năm). + Nhà đang có ngân hàng đề nghị thuê 60 triệu/tháng (do chưa hết HĐ củ nên chưa ký kết được) và chủ nhà đang rất cần tiền nên đành kêu bán trong nước mắt. - Giá bán: 11 tỷ (có thương lượng nhẹ). - Sổ đẹp, Công chứng trong ngày. - Anh chị nào quan tâm, vui lòng liên hệ 0943 642 255 (miễn TG). Trân trọng!</p>
                    </div>
                    <div class="alert alert-warning">
                        <div class="row d-flex align-items-center">
                            <div class="col-sm-8 col-md-10">Vui lòng hỗ trợ chúng tôi báo sai phạm nếu tin đăng không đúng như nội dung đăng tải</div>
                            <div class="col-sm-4 col-md-2">
                                <div id="feedback">
                                    <div class="dropdown">
                                        <form id="frmFeeback" method="post" onsubmit="return doFeedback(this)">
                                            <button class="btn btn-primary btn-block btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                                                <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Phản hồi
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li><label class="title"><input type="checkbox" id="fb_1" name="fb[]" value="1">Bất động sản đã bán/cho thuê</label></li>
                                                <li><label class="title"><input type="checkbox" id="fb_2" name="fb[]" value="2">Nội dung không đúng với thực tế</label></li>
                                                <li><label class="title"><input type="checkbox" id="fb_3" name="fb[]" value="3">Giá không đúng</label></li>
                                                <li><label class="title"><input type="checkbox" id="fb_4" name="fb[]" value="4">Không liên lạc được</label></li>
                                                <li><label class="title"><input type="checkbox" id="fb_5" name="fb[]" value="5">Tin không có thật</label></li>
                                                <li><label class="title"><input type="checkbox" id="fb_6" name="fb[]" value="6">Địa chỉ bất động sản không đúng</label></li>
                                                <li><label class="title"><input type="checkbox" id="fb_7" name="fb[]" value="7">Trùng với tin rao khác</label></li>
                                                <li><input type="hidden" name="hid" value="107895">
                                                    <button type="submit" name="action" class="btn btn-primary btn-sm" value="save" style="padding: 7px 20px;">Gửi đi</button></li>
                                            </ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="toolbar">
                        <div class="form-group">
                            <ul>
                                <li><a href="javascript:window.history.back();" class="btn btn-primary btn-block btn-sm gray"><i class="fa fa-reply"></i> <span>Quay lại</span></a></li>
                                <li><a href="#" onclick="return loadFormSendMail('https://samhomes.vn/mua/nha-mat-tien/ban-nha-356m2-o-khu-big-c-di-an-binh-duong-gia-tot-so-dep-107895.html');" class="btn btn-primary btn-block btn-sm gray"><i class="fa fa-envelope"></i> <span>Gửi tin này cho bạn bè</span></a></li>
                                <li><a href="javascript:void(0)" onclick="javascript:window.print();" class="btn btn-primary btn-block btn-sm gray"><i class="fa fa-print"></i> <span>In bài này</span></a></li>
                                <li><a href="#" onclick="return shareLink('facebook');"><img src="https://cdn.samhomes.vn/htdocs/css/themes/facebook.png"></a></li>
                                <li class="hidden-lg"><a href="#" onclick="return shareLink('messenger');"><img src="https://cdn.samhomes.vn/htdocs/css/themes/messenger.png"></a></li>
                                <li><span class="zalo-share-button" data-href="" data-oaid="1377506171942255831" data-layout="2" data-color="white" data-customize=true> <a href="#"><img src="https://cdn.samhomes.vn/htdocs/css/themes/zalo.png"></a>
                                </span></li>
                                <li><a href="#" onclick="return shareLink('twitter');"><img src="https://cdn.samhomes.vn/htdocs/css/themes/twitter.png"></a></li>
                                <li><a href="#" onclick="return shareLink('pinterest');"><img src="https://cdn.samhomes.vn/htdocs/css/themes/pinterest.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tags">
                        <b><i class="fa fa-tags"></i> Tìm kiếm theo từ khóa:</b> <a href="https://samhomes.vn/mua/nha-mat-tien-binh-duong-thi-xa-di-an">Nhà mặt tiền Thị xã Dĩ An</a>
                    </div>
                    <div class="clearfix"></div>
                    <div class="house_by_district">
                        <h3 class="title st1">
                            Bất động sản <span>Thị xã Dĩ An</span>
                        </h3>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/dat-tho-cu-dat-o-binh-duong-thi-xa-di-an">Đất thổ cư, đất ở</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/nha-trong-hem-binh-duong-thi-xa-di-an">Nhà trong hẻm</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/can-ho-binh-duong-thi-xa-di-an">Căn hộ</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/kho-xuong-binh-duong-thi-xa-di-an">Kho, xưởng</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/dat-nen-dat-du-an-binh-duong-thi-xa-di-an">Đất nền, đất dự án</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/nha-mat-tien-binh-duong-thi-xa-di-an">Nhà mặt tiền</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/biet-thu-nha-lien-ke-binh-duong-thi-xa-di-an">Biệt thự, nhà liền kề</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/cac-loai-khac-binh-duong-thi-xa-di-an">Các loại khác</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-3" style="padding-left: 0">
                            <a href="https://samhomes.vn/mua/nha-tro-phong-tro-binh-duong-thi-xa-di-an">Nhà trọ, phòng trọ</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-sm-3">
                    <div class="formBooking">
                        <div class="form-group lbl-title">THÔNG TIN NGƯỜI ĐĂNG</div>
                        <div class="form-group" style="font-size: 14px">
                            <i class="fa fa-user"></i> CAO SƠN LÂM
                        </div>
                        <div class="form-group">
                            <a href="#" onclick="return getPhone(107895);" class="btn btn-primary btn-block btn-sm" id="btn_get_phone"><i class="fa fa-phone"></i> <span>094364xxx (xem số phone)</span></a>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-4 div_save_post saved">
                                <button type="button" onclick="return saveItem(107895)" class="btn btn-default btn-block btn-sm">
                                    <span class="hidden-xs">&nbsp;<i class="fa fa-heart"></i>&nbsp;
                                    </span> <span class="visible-xs"><i class="fa fa-heart"></i> Lưu tin đăng</span>
                                </button>
                            </div>
                            <div class="col-sm-12 col-md-8 hidden-xs div_chat">
                                <a href="#" onclick="return loadFormChat(107895);" class="btn btn-info btn-block btn-sm"><i class="fa fa-envelope"></i>&nbsp;Gửi tin nhắn</a>
                            </div>
                        </div>
                        <div class="form-group hidden-xs">
                            <div id="feedback">
                                <div class="dropdown">
                                    <form id="frmFeeback2" method="post" onsubmit="return doFeedback(this)">
                                        <button class="btn btn-block btn-sm btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="white-space: normal">
                                            <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp;Báo cáo sai phạm
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><label class="title"><input type="checkbox" id="fb_1" name="fb[]" value="1">Bất động sản đã bán/cho thuê</label></li>
                                            <li><label class="title"><input type="checkbox" id="fb_2" name="fb[]" value="2">Nội dung không đúng với thực tế</label></li>
                                            <li><label class="title"><input type="checkbox" id="fb_3" name="fb[]" value="3">Giá không đúng</label></li>
                                            <li><label class="title"><input type="checkbox" id="fb_4" name="fb[]" value="4">Không liên lạc được</label></li>
                                            <li><label class="title"><input type="checkbox" id="fb_5" name="fb[]" value="5">Tin không có thật</label></li>
                                            <li><label class="title"><input type="checkbox" id="fb_6" name="fb[]" value="6">Địa chỉ bất động sản không đúng</label></li>
                                            <li><label class="title"><input type="checkbox" id="fb_7" name="fb[]" value="7">Trùng với tin rao khác</label></li>
                                            <li><input type="hidden" name="hid" value="107895">
                                                <button type="submit" name="action" class="btn btn-primary btn-sm" value="save">Gửi đi</button></li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#" onclick="return loadFancyboxForm('https://samhomes.vn/tinh-tien-vay?price_borrow=11000000000');" class="btn btn-default btn-block"> <i class="fa fa-calculator"></i> Trả góp <b style="color: #ed1c24">83.4 <span class="unit">Tr.</span>/tháng
                                </b></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="product_box_ads" data-url="ctid=7071"></div>
                </div>
            </div>
        </section>
    </div>
    <section id="other_real_eastate_you_interested_in">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-xs-12 col-sm-10">
                    <h2 class="title st1">
                        BẤT ĐỘNG SẢN <span>TƯƠNG TỰ</span>
                    </h2>
                </div>
            </div>
            <div class="house_listing owl-carousel owl-theme row" id="house_insterested">
                <div class="item " itemtype="https://schema.org/House">
                    <a itemprop="url" href="https://samhomes.vn/mua/nha-mat-tien/ban-dat-xay-xuong-khu-cong-nghie-p-song-than-3-dien-tich-5-6ha-gia-ha-p-da-n-67827.html">
                        <div class="image">
                            <img class='lazy' data-original="https://cdn.samhomes.vn/htdocs/thumbs/posting/201908/320x240x0-488db957fc151b4b4204.jpg" data-src="https://cdn.samhomes.vn/htdocs/thumbs/posting/201908/320x240x0-488db957fc151b4b4204.jpg" alt="Bán đất xây xưởng khu công nghiệp Sóng Thần 3, diện tích 5.6ha, giá hấp dẫn." width='320' height='240' />
                            <div class="photo">3</div>
                        </div>
                    </a>
                    <div class="block-info">
                        <div class="header">
                            <h3 class="line2">
                                <a href="https://samhomes.vn/mua/nha-mat-tien/ban-dat-xay-xuong-khu-cong-nghie-p-song-than-3-dien-tich-5-6ha-gia-ha-p-da-n-67827.html">Bán đất xây xưởng khu công nghiệp Sóng Thần 3, diện tích 5.6ha, giá hấp dẫn.</a>
                            </h3>
                            <p>
                                <a href="https://samhomes.vn/mua/nha-binh-duong-thi-xa-di-an">Thị xã Dĩ An</a>, <a href="https://samhomes.vn/mua/nha-binh-duong">Bình Dương</a>
                            </p>
                        </div>
                        <div class="body">
                            <div class="value">
                                <ul>
                                    <li><i class="fa fa-expand"></i> 56,000 m<sup>2</sup></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer">
                            <span class="price">155 <span class="unit">Tỷ</span></span> <span class="date pull-right"><i class="fa fa-clock-o"></i> 26/08/2019</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="visible-xs" id="mobile_bottom_detail_product">
        <a href="#" onclick="return getPhone(107895, 1);"><i class="fa fa-volume-control-phone" style="animation: 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s infinite reverse both running shake-lr;"></i><span>Gọi điện</span></a> <a href="#" onclick="return getPhone(107895, 2);"><i class="fa fa-comments-o"></i><span>SMS</span></a> <a href="#" onclick="return loadFormChat(107895);"><i class="fa fa-envelope-o"></i><span>Email</span></a>
    </div>
    <script>
                    var logo = '/htdocs/images/posting/201910/photo-2019-03-29-22-20-58-4.jpg';
                    var BASE_URL = 'https://samhomes.vn';
                    var panorama = 'https://samhomes.vn/';
                    var get_saved = "https://samhomes.vn/get-saved/107895";
                </script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAWdYMd1euOZpeeq9Y32VEqBkOvKiLWkD8&libraries=places"></script>
</div>
